<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
    
    <center>
<h1 style="font-size: 70px; color: rgb(109, 10, 109)"> Rocipe</h1>
    <form method="POST" action="/">
        <!-- Heading -->
        <h4>
        Log in to your account
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your information below to sign in.
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <a href="/signup"><button>Are you new here? <b>Create an account</b></button></a>
</center>
</body>
</html>